body {background-color: powderblue;}
h1   {
    color: white;
    margin-left:35vw;
    margin-right: 10vw;
    font-size: 3vw;
    margin-bottom: 5vh;

}
.subheader{
    font-weight: bold;
    font-size: 1.5vw;
    margin-left: 35vw;
    margin-bottom: 2vh;
}

p{
    text-align: left;
    font-size: 1vw;
    margin-bottom: 2vh;
    margin-left: 35vw;
    margin-right: 40vw;
}
button{
    background-color:yellow;
    color:black;

}
.email-field, .submit{
    margin:0;
}
.email-field{
    margin-left: 35vw;
}

.email-field + .submit{
    border:1px solid #a9a9a9;
    border-left:0px;
    height:30px;
}
.landingpage{
    height: 70vh;
    width:auto;
}