body {background-color: powderblue;}
h1   {
    color: white;
    margin-left:35vw;
    margin-right: 10vw;
    font-size: 3vw;
    margin-bottom: 5vh;

}
.subheader{
    font-weight: bold;
    font-size: 1.5vw;
    margin-left: 35vw;
    margin-bottom: 2vh;
}

p{
    text-align: left;
    font-size: 1vw;
    margin-bottom: 2vh;
    margin-left: 35vw;
    margin-right: 40vw;
}
button {
    background-color:orange;
    color: black;
    padding: 12px 20px;
    border: none;
    margin-left: 0px;
    cursor: pointer;
    float: right;
  }
  

input[type=email] {
    width: 55%;
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-right: 0px;
  }
.col{
    float: left;
    margin-left: 35vw;
    margin-right: 40vw;
}

.landingpage{
    height: 70vh;
    width:auto;
}